html, body {
  height: 100%;
}

body {
  background-image: url("/assets/bg.jpg");
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

#root {
  height: 100%;
  margin: 0;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: hotpink;
}

.btn-primary {
  display: block;
  margin: 1rem auto;
}

img {
  background-color: white;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  width: 50%;
}

a {
  text-decoration: none;
}

.container {
  background-color: white;
  border: 5px solid hotpink;
  padding: 1rem;
}

input {
  display: block;
  margin: 1rem auto;
  max-width: 80%;
  padding: 1rem;
}

audio {
  display: block;
  margin: 1rem auto;
  max-width: 80%;
}

.correct {
  color: green;
  margin: 1rem;
}

.wrong {
  color: red;
  margin: 1rem;
}
